<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Remove Points - Aggie Rotaract Event Tracker</title>
</head>

<body>
    <br/>

    <br/>
    <div class="container">
      <%= form_for(@point, :method => 'delete') do |f| %>
        <h5 class="font-weight-bold">
          Are you sure you want to permanently remove this event? <br/>

        </h5>
        <h4 class="text-danger font-weight-bold"> <%= @point.name %> </h4>

        <br/>
        <br/>

         <input type="submit" name="commit" value="Remove Event/Points" class="btn btn-outline-danger">
         <a href="<%= users_url%>" class="btn btn-outline-primary"> Back to User Dashboard </a>
      <% end %>
    </div>
</body>
